<!DOCTYPE html>
<html lang="es" ng-app="mobileNotes">

<head>
    <meta charset="UTF-8">

    <title>Mobile | notes</title>

    <meta name="viewport" content="width=device-width,
			initial-scale=1.0,
			minimum-scale=1.0, maximum-scale=1.0">




    <link rel="icon" href="assets/icon/icon.png">


    <!-- main css -->
    <link rel="stylesheet" href="public/css/index.css">


    <!-- main js -->
    <script src="public/js/main.js"></script>


    <!-- fontawesome -->
    <script src="assets/fontawesome/js/all.js"></script>


    <!-- jeremias-lib css -->
    <link rel="stylesheet" href="node_modules/jeremias-lib/css/jeremias-lib.css">


    <!-- easydom css -->
    <link rel="stylesheet" href="node_modules/jeremias-easydom/easydom.css">


    <!-- easydom js -->
    <script src="node_modules/jeremias-easydom/easydom.js"></script>


    <!-- angular js -->
    <script src="node_modules/angular/angular.min.js">
    </script>

    <!-- angular swipe -->
    <script src="node_modules/angular-touch/angular-touch.min.js">
    </script>


    <!-- Config app -->
    <script src="public/js/config/app.config.js">
    </script>


   <!-- controllers -->
    <script src="public/js/controller/main.controller.js"></script>





</head>

<body ng-controller="main" class="in">

  <nav class="menu--blue">
    <li class="active--blue"><a href="#">Note</a></li>
  </nav>




    <div class="added__float" ng-if="2==1">
        <p class="fas fa-plus"></p>
    </div>





  <div class="float__button" ng-click="addNote()">
      <p class="fas fa-plus"></p>
  </div>

<div class="responsive" >
  <h1 class="title text--blue">Notes</h1>
</div>

<section class="notes">
    <article ng-repeat="note in notes track by $index" ng-swipe-left="removeNote($index)" ng-swipe-right="updateNote($index)" class="card__note" ng-if="$index!=0">

        <div class="navbar__card">

          <div class="autor__card">
              <span>{{note.author}}</span>
          </div>

          <div class="date">
            <span>{{note.hours}}:{{note.minutes}}</span>

          </div>

        </div>
        <div class="info">
          <h1>{{ note.title }}</h1>
          <p>{{ note.noteNotes }}</p>
        </div>

    </article>
</section>












</body>
</html>
