

.float__button{
  position: fixed;
  z-index: 100;
  bottom: 3px;
  right:3px;
  border: 1px solid #eee;
  border-radius: 10%;
  height: 30px;
  width: 25px;
  cursor: pointer;
  transition: .5s;
  color: orange

}
.float__button:hover{
  transition: .5s;
  background-color: #ddd;
}


.added__float{
  position: fixed;
  z-index: 200;
  top: 0;
  right:0;
  border: none;
  height: 32px;
  width: 25px;
  background-color: darkblue;
  cursor: pointer;
  transition: .5s;
  color: yellow;

}
.notes{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.card__note{
  margin: .4em;

  background: #eee;
  border-radius: 7px;
  padding: 0;
  width: 310px;
  border: 1px solid #eee;
}
.navbar__card{
  margin-top: -13px;
  display: flex;
  justify-content: space-between;
}
.navbar__card span{
  font-size: 10px;
  color:darkred;
  font-weight: 600;
  font-family: arial;
}
.autor__card span{
  font-weight: 600;
  color: orangered;
  font-size: 9px;
  text-transform: uppercase;
  font-family: arial;
}
.info{
margin-bottom: -20px;

}
.info h1{
  text-align: center;
  color: #222;
  margin:0;
  margin-top: -25px;
  font-family: sans-serif;
}
.info p{
  margin-top: -8px;
  font-family: fantasy;
}

.container__window{
  position: fixed;
  top: 0;
  font-weight: 600;
  font-family: arial;
  z-index: 300;
  width: 100vw;
  height: 20px;
  color: white;
  left: -3px;
  background-color: green;
  text-align: center;
}

.containerUpdate{
  background-color: rgba(0%,0%,0%,90%);
  width: 100vw;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  top: 0;

  left: -3px;
  z-index: 400;
  height: 100vh;
}
.containerUpdate input{
  border:none;
  margin-bottom: .6em;
  border-radius: 2px;
  width: 300px;
  text-align: center;
}
.containerUpdate h1{
  font-size: 22px;
}
.containerUpdate textarea{
  border:none;
  margin-bottom: .4em;
  border-radius: 2px;
  text-align: center;
}
.closeUpdate{
  position: absolute;
  cursor: pointer;
  top: 3px;
  font-size: 18px;
  right: 15px;
  color: white;
}
